<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Microsoft JhengHei;
        }
        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">簡易記事本</h1>
                <p class="lead">透過左側的新增，右側列清單及刪除功能來管理記事</p>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-header">
                        新增記事
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">摘要</span>
                                </div>
                                <input type="text" class="form-control" placeholder="請填入記事摘要" v-model="newNote.name">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">內容</span>
                                </div>
                                <input type="text" class="form-control" placeholder="請填入記事內容" v-model="newNote.content">
                            </div>
                        <button class="btn btn-primary" @click="addNote">新增</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3 class="text-center">清單</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">名稱</th>
                                <th scope="col">內容</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="note in notes" class="text-center">
                                <td>{{ note.name }}</td>
                                <td>{{ note.content }}</td>
                                <td class="text-center"><button @click="deleteNote(note)" type="button" class="btn btn-danger btn-sm btn-circle">X</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                newNote:{
                    name:'',
                    content:''
                },
                notes: JSON.stringify(this.notes) || []
            },
            watch:{
                handler:'saveNote',
                deep: true
            },
            methods:{
                addNote(){
                    if(this.newNote.name.trim().length === 0 || this.newNote.content.trim().length === 0){
                        alert('摘要和內容一定要填寫唷！')
                        return
                    }
                    const note = {
                        name: this.newNote.name,
                        content: this.newNote.content,
                        created: new Date()
                    }
                    this.notes.push(note)
                    this.newNote.name = ''
                    this.newNote.content = ''
                },
                deleteNote(note){
                    if(confirm('確定要刪除嗎？')){
                        const ndx = this.notes.indexOf(note)
                        if(ndx !== -1){
                            this.notes.splice(ndx, 1)
                        }
                    }
                },
                saveNote(){
                    localStorage.setItem('notes', JSON.stringify(this.notes))
                }
            }
        })
    </script> 
</body>
</html>